.document-container ol li {
    margin-left: 48px;
}

.align-center {
    text-align: center;
}

.document-container .h2 {
    text-align: right;
}

body {
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.6;
    color: #333;
    max-width: 100%;
    margin: 0 auto;
    padding: 0px;
}

/* Define a counter for the document */
.document-container {
    counter-reset: section-counter;
    /* Inicializar el contador */
}

/* Aplica la numeración solo a los <p><strong> excepto el primero */
.document-container p>strong {
    display: block;
    /* Asegurar que sea de bloque para buen layout */
    position: relative;
    counter-increment: section-counter;
    /* Incrementar el contador */
    padding-left: 30px;
    /* Espacio para el número */
}

/* Elimina la numeración del primer <p><strong> */
.document-container p:first-of-type>strong {
    counter-increment: none;
    /* No incrementa el contador */
    padding-left: 0;
    /* Quitar padding para alineación correcta */
}

.document-container p>strong::before {
    content: counter(section-counter) ". ";
    /* Mostrar el contador */
    position: absolute;
    left: 0;
    /* Posicionar el número al inicio */
    top: 0;
    font-weight: bold;
    color: #000;
    /* Cambiar para personalizar el color */
}

/* Excluir el :first-of-type de agregar el número */
.document-container p:first-of-type>strong::before {
    content: "";
    /* No agregar contenido */
}

h1 {
    font-size: 24px;
    margin-bottom: 30px;
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
}

h2 {
    text-align: right;
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 15px;
    border-bottom: 1px solid #999;
    padding-bottom: 5px;
}

h3 {
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 10px;
}

p,
ul {
    margin-bottom: 15px;
}

ul {
    padding-left: 30px;
}

.document-header {
    text-align: right;
    font-size: 8px;
    font-weight: 600;
}


.signature-line {
    border-top: 1px solid #333;
    width: 50%;
    margin-top: 50px;
}

@media print {
    body {
        font-size: 12pt;
    }

    h1 {
        font-size: 18pt;
    }

    h2 {
        font-size: 14pt;
    }

    h3 {
        font-size: 12pt;
    }

    .page-break {
        page-break-before: always;
    }
}